body {
  background: none;
}

header {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #efefef;
  padding: 20px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

#gameBoard {
  /*background-color: #efefef;*/
  width: 360px;
  height: 360px;
  margin: 0 auto;
}


.photo {
  background: #caebf2;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  float: left;
  margin: 10px;
}

.person {

}

footer {
  height: 200px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  background-color: #efefef;
  clear: both;
  text-align: center;
}

.timer {
  width: 200px;
  height: 20px;
  border: 2px solid black;
  margin: 0 auto;
}

.start {
  margin-top: 20px;
}
